*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 20px auto;
}

header{
  height: 100px;
  background-color: #DB61DD;
}

main{
  margin: 20px 0 10px 0;
}

.jumbotron{
  height: 250px;
  background-color: #DACE6D;
  margin-bottom: 20px;
}