*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 20px auto;
}

header{
  height: 100px;
  background-color: #DB61DD;
}

main{
  margin: 20px 0 5px 0;
}

.jumbotron{
  height: 250px;
  background-color: #DACE6D;
  margin-bottom: 20px;
}

.content{
  background-color: #1771FB;
  padding-bottom: 10px;
}

.title{
  height: 50px;
  background-color: #9DC5E0;
  margin-bottom: 15px;
}

.left, .center, .right{
  float: left;
  height: 300px;
  background-color: #9DC5E0;
}

.left, .right{
  width: 18%;
}

.center{
  width: 60%;
  margin: 0 2%;
}

footer{
  height: 50px;
  background-color: #7100F6;
}